/*MOBILE*/@media only screen and (min-width:307px) and (max-width:600px){

    /*Fonts*/
    @import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Cormorant+Upright|DM+Serif+Display|Fredericka+the+Great|Josefin+Slab|Lobster|Megrim|Plaster|Quicksand|Rozha+One|Sacramento|Sulphur+Point&display=swap');
    /*Font Library
    font-family: 'Sacramento', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Rozha One', serif;
    font-family: 'Cormorant Upright', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Megrim', cursive;
    font-family: 'Plaster', cursive;
    */

    /*Loading Screen*/
    #loadin {
        display: none;
        text-align: center;
      }
    
    #load{
        height:100px;
        width:100px;
    }
    .loadscreen{
        width:1%;
        height:1%;
    }

    /*HTML Styles */
    *::selection {
        background-color:rgba(253, 47, 184, 0.945);
    }
    html {
        background-color:rgba(255, 70, 193, 0.876);
        scroll-behavior:smooth;
    }

    html.Gallery {
        background-color:rgba(255, 70, 193, 0.876);
        scroll-behavior:smooth;
    }

    html.index {
        background-color:rgba(255, 70, 193, 0.876);
        scroll-behavior:smooth;
    }

    html.resume {
        background-color:rgba(255, 70, 193, 0.876);
        scroll-behavior:smooth;
    }
    

    html.altcolor {
        background-color:rgb(240, 255, 251);
    }

    /*Body Styles*/

    body {
        height: 100vh;
        position: relative;
        margin: 0 auto 0 auto;
    }

    body::after {
        display: flexbox;
        content: "";
        clear: both;
    }
    
    .container {
        width:517.5px;
        height:267px;
        display:flexbox;
        padding:0px 0px 0px 5px;
    }

    /*Grid Styles*/

    .grid-container {
        grid-template-columns: 4fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        display: flexbox;
        overflow-wrap: normal;
        height: 267px;
    }

    .box {
        display: flexbox;
        text-decoration:none;  
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 5;
        background-color:rgb(254, 254, 255);
        width: 100%;
        height: 100%;
        color:#f2f2f2;
        top:10px;
        display:flexbox;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color:rgb(36, 35, 35);
        width: auto;
        height: auto;
        text-decoration:none;
        font-size:2.3rem;
        text-align:center;
        display:flexbox;
    }

    .hero {
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color:rgb(14, 31, 54);
    }

    .main {
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 7;
        grid-row-end: 8;
        background-color:rgb(14, 31, 54);
        display:flexbox;
        margin:1rem;
        color:#353535;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.075);
    }
        
    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 11;
        background-color: rgb(14, 31, 54);
        color:rgb(14, 31, 54);
        height:150px;
        display:flexbox;
    }

    /*Image Styles*/
    
    .portfolioimgsl {
        width:12em;
        height:8em;
        margin-left: 1.7em;
        margin-bottom:1.4em;
        margin-top:1em;
    }

    .portfolioimgsr {
        width:12em;
        height:8em;
        margin-top: 1em;
        margin-left:1.8em;
        margin-bottom:1.4em;
    }

    .footer img {
        width:190px;
        height:46px;
    }

    .footer > a > img {
        padding:10px 0px 10px 0px;
        width:50px;
        height:50px;
        border-radius:20px;
    }
   

   .hero > img {
       width:70%;
       height:70%;
       padding-left:75px;
    }

    /*Link Styles*/

    nav.nav > a {
        flex:1;
        flex-basis:100%;
    }

    /*Text Link Styles*/
    
    .wordlink {
        text-decoration:none;
        color:rgb(158,226,209);
    }

    .wordlink:hover {
        color:rgba(253, 47, 184, 0.945);;
    }

    .nav > a {
        text-decoration:none;
        border-radius: 0px 20px 0px 20px;
        color:rgb(158,226,209);
        font-style:bold;
        letter-spacing:1px;
        display:flexbox;
        padding:0px 36px 0px 36px;
    }

    nav {
        top:0;
        position:absolute;
    }
    
    html.altcolor .linenav > a {
        display:inline-block;
        text-decoration:none;
    }

    .linenav > a {
        display:inline-block;
        text-decoration:none;
    }

html.altcolor .a1 {
    left:0px;
    position:absolute;
    color:rgba(253, 47, 184, 0.945);
    font-size:12px;
    top:5px;
    padding-left:15px;
    padding-right:20px;
    width:.5px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

    .a1 {
        left:0px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:12px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:.5px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    html.altcolor .a2 {
        left:50px;
        position:absolute;
        color:rgba(253, 47, 184, 0.945);
        font-size:12px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:13.5px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    .a2 {
        left:50px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:12px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:13.5px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    html.altcolor .a3 {
        left:110px;
        position:absolute;
        color:rgba(253, 47, 184, 0.945);
        font-size:12px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:17.5px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    .a3 {
        left:110px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:12px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:17.5px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }
    
    html.altcolor .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.altcolor .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.altcolor .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .linenav:hover::after{
        width:100%;
    }

    html.altcolor .linenav:hover::after{
        width:100%;
    }

    html.Gallery .linenav:hover::after{
        width:100%;
    }

    html.index .linenav:hover::after{
        width:100%;
    }

    html.resume .linenav:hover::after{
        width:100%;
    }

    a {
        text-decoration:none;
        font-family: 'DM Serif Display', serif;
    }

    a p {
        font-size:40px;
        text-align:center;
        color:rgb(158,226,209);
        flex: 1 1 307;
        margin:20px;
        border: 2px solid rgba(253, 47, 184, 0.945);
        font-family: 'DM Serif Display', serif;
    }

    a p:active {
        border:2px solid rgb(158,226,209);
        text-decoration:none;
        color:rgba(253, 47, 184, 0.945);
    }

    /*Text Styles*/

    p.myskill {
        color:red;
        font-size:20px;
    }

    p.skilllevel {
        color:grey;
        font-size:20px;
    }
    
    h1 {
        padding:5px 0px 0px 30px;
        flex: 1 1 307;
    }

    html.altcolor h2 {
        font-size:26px;
        text-align:center;
        letter-spacing:1px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
        font-family:'Abril Fatface';
    }

    h2 {
        font-size:26px;
        text-align:center;
        letter-spacing:1px;
        color:rgb(158,226,209);
        flex: 1 1 307;
        font-family:'Abril Fatface';
    }

    html.altcolor h3 {
        font-size:25px;
        text-align:center;
        font-family: 'Josefin Slab';
        color:rgba(253, 47, 184, 0.945);
    }

    h3 {
        font-size:25px;
        text-align:center;
        font-family: 'Josefin Slab';
        color:rgb(158,226,209);
    }

    html.altcolor p {
        font-size:15px;
        font-family: 'Josefin Slab', serif;
        text-align:center;
        color:rgba(253, 47, 184, 0.945);
        margin:20px;
    }

    p {
        font-size:15px;
        font-family: 'Josefin Slab', serif;
        text-align:center;
        color:rgb(158,226,209);
        margin:20px;
    }
    html.altcolor div.main > h2 {
        letter-spacing:10px;
        background-color:rgba(253, 47, 184, 0.945);
        color:rgb(255, 255, 255);
    }

    div.main > h2 {
        letter-spacing:10px;
        background-color: rgb(158,226,209);
        color:rgb(255, 255, 255);
    }
    html.altcolor .footh2 {
        font-size:26px;
        font-family: 'Abril Fatface', cursive;
        text-align:left;
        padding-left:30px;
        letter-spacing:1px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
    }
    
    .footh2 {
        font-size:26px;
        font-family: 'Abril Fatface', cursive;
        text-align:left;
        padding-left:30px;
        letter-spacing:1px;
        color:rgb(158,226,209);
        flex: 1 1 307;
    }
    
    html.altcolor .footh3 {
        font-size:20px;
        font-family: 'Josefin Slab', serif;
        text-align:left;
        padding-left:30px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
    }

    .footh3 {
        font-size:20px;
        font-family: 'Josefin Slab', serif;
        text-align:left;
        padding-left:30px;
        color:rgb(158,226,209);
        flex: 1 1 307;
    }

    /*Scroll To Top*/
    

    .scroll2top {
        position:absolute;
        padding:.4.5rem;
        text-decoration:none;
        left:50rem;
        bottom:10px;
        display:flexbox;
        
    }

    div.scroll2top:hover > a > img {
        position:fixed;
        display:flexbox;
        text-decoration:none;
        right:0px;
        transition:.5s ease;
        bottom:11px;
        width:32px;
        height:32px;
        scroll-behavior:smooth;
    }

    div.scroll2top > a > img{
        width:30px;
        height:30px;
        z-index:10;
        bottom:0px;
        right:0px;
        position:fixed;
        scroll-behavior:smooth;
    }

    /*Lightbox*/

    #lightbox:active {
        top:auto;
        left:130px;
        transform:scale(1.5);
        z-index:15;
        position:absolute;
    }
}

/*TABLET*/@media only screen and (min-width:601px) and (max-width:1024px){
/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Cormorant+Upright|DM+Serif+Display|Fredericka+the+Great|Josefin+Slab|Lobster|Megrim|Plaster|Quicksand|Rozha+One|Sacramento|Sulphur+Point&display=swap');
/*Font Library
font-family: 'Sacramento', cursive;
font-family: 'DM Serif Display', serif;
font-family: 'Rozha One', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Megrim', cursive;
font-family: 'Plaster', cursive;
*/

/*HTML Styles */
*::selection {
    background-color:rgba(253, 47, 184, 0.945);
}
html {
    background-color:rgba(253, 47, 184, 0.945);
    scroll-behavior:smooth;
}

html.Gallery {
    background-color:rgba(253, 47, 184, 0.945);
    scroll-behavior:smooth;
}

html.index {
    background-color:rgba(253, 47, 184, 0.945);
    scroll-behavior:smooth;
}

html.resume {
    background-color:rgba(253, 47, 184, 0.945);
    scroll-behavior:smooth;
}


html.altcolor {
    background-color:rgb(240, 255, 251);
}

/*Body Styles*/

body {
    height: 100vh;
    position: relative;
    margin: 0 auto 0 auto;
}

body::after {
    display: flexbox;
    content: "";
    clear: both;
}

.container {
    width:517.5px;
    height:267px;
    display:flexbox;
    padding:0px 0px 0px 5px;
}

/*Grid Styles*/

.grid-container {
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    display: flexbox;
    overflow-wrap: normal;
    height: 267px;
}

.box {
    display: flexbox;
    text-decoration:none;  
}

.header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 5;
    background-color:rgb(254, 254, 255);
    width: 100%;
    height: 100%;
    color:#f2f2f2;
    top:10px;
    display:flexbox;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color:rgb(36, 35, 35);
    width: auto;
    height: auto;
    text-decoration:none;
    font-size:2.3rem;
    text-align:center;
    display:flexbox;
}

.hero {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color:rgb(14, 31, 54);
}

.main {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color:rgb(14, 31, 54);
    display:flexbox;
    margin:1rem;
    color:#353535;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.075);
}
    
.footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 11;
    background-color: rgb(14, 31, 54);
    color:rgb(14, 31, 54);
    height:150px;
    display:flexbox;
}

/*Image Styles*/

.portfolioimgsl {
    width:24.5em;
    height:18em;
    margin-left: 1.7em;
    margin-bottom:1.4em;
    margin-top:1em;
}

.portfolioimgsr {
    width:24.5em;
    height:18em;
    margin-top: 1em;
    margin-left:1.8em;
    margin-bottom:1.4em;
}

.footer img {
    width:190px;
    height:46px;
}

.footer > a > img {
    padding:10px 0px 10px 0px;
    width:50px;
    height:50px;
    border-radius:20px;
}


.hero > img {
   width:70%;
   height:70%;
   padding-left:140px;
}

/*Link Styles*/

nav.nav > a {
    flex:1;
    flex-basis:100%;
}

/*Text Link Styles*/

.wordlink {
    text-decoration:none;
    color:rgb(158,226,209);
}

.wordlink:hover {
    color:rgba(253, 47, 184, 0.945);;
}

.nav > a {
    text-decoration:none;
    border-radius: 0px 20px 0px 20px;
    color:rgb(158,226,209);
    font-style:bold;
    letter-spacing:1px;
    display:flexbox;
    padding:0px 36px 0px 36px;
}

nav {
    top:0;
    position:absolute;
}

html.altcolor .linenav > a {
    display:inline-block;
    text-decoration:none;
}

.linenav > a {
    display:inline-block;
    text-decoration:none;
}

html.altcolor .a1 {
left:0px;
position:absolute;
color:rgba(253, 47, 184, 0.945);
font-size:22px;
top:5px;
padding-left:16px;
padding-right:20px;
width:36px;
text-decoration:none;
font-family: 'Abril Fatface', cursive;
}

.a1 {
    left:0px;
    position:absolute;
    color:rgb(158,226,209);
    font-size:22px;
    top:5px;
    padding-left:10px;
    padding-right:20px;
    width:36px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

html.altcolor .a2 {
    left:100px;
    position:absolute;
    color:rgba(253, 47, 184, 0.945);
    font-size:22px;
    top:5px;
    padding-left:16px;
    padding-right:20px;
    width:58px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

.a2 {
    left:100px;
    position:absolute;
    color:rgb(158,226,209);
    font-size:22px;
    top:5px;
    padding-left:10px;
    padding-right:20px;
    width:58px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

html.altcolor .a3 {
    left:225px;
    position:absolute;
    color:rgba(253, 47, 184, 0.945);
    font-size:22px;
    top:5px;
    padding-left:16px;
    padding-right:20px;
    width:67px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

.a3 {
    left:225px;
    position:absolute;
    color:rgb(158,226,209);
    font-size:22px;
    top:5px;
    padding-left:10px;
    padding-right:20px;
    width:67px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

html.altcolor .a1.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

.a1.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

html.altcolor .a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

.a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

html.Gallery .a1.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(177, 47, 253, 0.945);
    transition: .5s;
    position:absolute;
}

html.index .a1.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

html.resume .a1.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 147, 47, 0.945);
    transition: .5s;
    position:absolute;
}

html.Gallery .a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(177, 47, 253, 0.945);
    transition: .5s;
    position:absolute;
}

html.resume .a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 147, 47, 0.945);
    transition: .5s;
    position:absolute;
}

html.index .a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

html.Gallery .a3.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(177, 47, 253, 0.945);
    transition: .5s;
    position:absolute;
}

html.resume .a3.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 147, 47, 0.945);
    transition: .5s;
    position:absolute;
}

html.index .a3.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

html.altcolor .a2.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

.a3.linenav::after {
    content:'';
    display:block;
    width:0;
    height:3.5px;
    border-radius:0px 10px 0px 10px;
    background-color:rgba(253, 47, 184, 0.945);
    transition: .5s;
    position:absolute;
}

.linenav:hover::after{
    width:100%;
}

html.altcolor .linenav:hover::after{
    width:100%;
}

html.Gallery .linenav:hover::after{
    width:100%;
}

html.index .linenav:hover::after{
    width:100%;
}

html.resume .linenav:hover::after{
    width:100%;
}

a {
    text-decoration:none;
    font-family: 'DM Serif Display', serif;
}

a p {
    font-size:60px;
    text-align:center;
    color:rgb(158,226,209);
    flex: 1 1 307;
    margin:20px;
    border: 2px solid rgba(253, 47, 184, 0.945);
    font-family: 'DM Serif Display', serif;
}

a p:active {
    border:2px solid rgb(158,226,209);
    text-decoration:none;
    color:rgba(253, 47, 184, 0.945);
}

/*Text Styles*/

p.myskill {
    color:red;
    font-size:40px;
}

p.skilllevel {
    color:grey;
    font-size:40px;
}

h1 {
    padding:5px 0px 0px 30px;
    flex: 1 1 307;
}

html.altcolor h2 {
    font-size:46px;
    text-align:center;
    letter-spacing:1px;
    color:rgba(253, 47, 184, 0.945);
    flex: 1 1 307;
    font-family:'Abril Fatface';
}

h2 {
    font-size:46px;
    text-align:center;
    letter-spacing:1px;
    color:rgb(158,226,209);
    flex: 1 1 307;
    font-family:'Abril Fatface';
}

html.altcolor h3 {
    font-size:45px;
    text-align:center;
    font-family: 'Josefin Slab';
    color:rgba(253, 47, 184, 0.945);
}

h3 {
    font-size:45px;
    text-align:center;
    font-family: 'Josefin Slab';
    color:rgb(158,226,209);
}

html.altcolor p {
    font-size:35px;
    font-family: 'Josefin Slab', serif;
    text-align:center;
    color:rgba(253, 47, 184, 0.945);
    margin:20px;
}

p {
    font-size:35px;
    font-family: 'Josefin Slab', serif;
    text-align:center;
    color:rgb(158,226,209);
    margin:20px;
}
html.altcolor div.main > h2 {
    letter-spacing:10px;
    background-color:rgba(253, 47, 184, 0.945);
    color:rgb(255, 255, 255);
}

div.main > h2 {
    letter-spacing:10px;
    background-color: rgb(158,226,209);
    color:rgb(255, 255, 255);
}
html.altcolor .footh2 {
    font-size:26px;
    font-family: 'Abril Fatface', cursive;
    text-align:left;
    padding-left:30px;
    letter-spacing:1px;
    color:rgba(253, 47, 184, 0.945);
    flex: 1 1 307;
}

.footh2 {
    font-size:26px;
    font-family: 'Abril Fatface', cursive;
    text-align:left;
    padding-left:30px;
    letter-spacing:1px;
    color:rgb(158,226,209);
    flex: 1 1 307;
}

html.altcolor .footh3 {
    font-size:20px;
    font-family: 'Josefin Slab', serif;
    text-align:left;
    padding-left:30px;
    color:rgba(253, 47, 184, 0.945);
    flex: 1 1 307;
}

.footh3 {
    font-size:20px;
    font-family: 'Josefin Slab', serif;
    text-align:left;
    padding-left:30px;
    color:rgb(158,226,209);
    flex: 1 1 307;
}

/*Scroll To Top*/


.scroll2top {
    position:absolute;
    padding:.4.5rem;
    text-decoration:none;
    left:50rem;
    bottom:10px;
    display:flexbox;
    
}

div.scroll2top:hover > a > img {
    position:fixed;
    display:flexbox;
    text-decoration:none;
    right:0px;
    transition:.5s ease;
    bottom:11px;
    width:32px;
    height:32px;
    scroll-behavior:smooth;
}

div.scroll2top > a > img{
    width:30px;
    height:30px;
    z-index:10;
    bottom:0px;
    right:0px;
    position:fixed;
    scroll-behavior:smooth;
}

/*Lightbox*/

#lightbox:active {
    top:auto;
    left:130px;
    transform:scale(1.5);
    z-index:15;
    position:absolute;
}
}

/*DESKTOP*/@media only screen and (min-width:1025px){
    /*Fonts*/
    @import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Cormorant+Upright|DM+Serif+Display|Fredericka+the+Great|Josefin+Slab|Lobster|Megrim|Plaster|Quicksand|Rozha+One|Sacramento|Sulphur+Point&display=swap');
    /*Font Library
    font-family: 'Sacramento', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Rozha One', serif;
    font-family: 'Cormorant Upright', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Megrim', cursive;
    font-family: 'Plaster', cursive;
    */

    /*HTML Styles */
    *::selection {
        background-color:rgba(253, 47, 184, 0.945);
    }
    html {
        background-color:rgba(253, 47, 184, 0.945);
        scroll-behavior:smooth;
    }

    html.Gallery {
        background-color:rgba(253, 47, 184, 0.945);
        scroll-behavior:smooth;
    }

    html.index {
        background-color:rgba(253, 47, 184, 0.945);
        scroll-behavior:smooth;
    }

    html.resume {
        background-color:rgba(253, 47, 184, 0.945);
        scroll-behavior:smooth;
    }
    

    html.altcolor {
        background-color:rgb(240, 255, 251);
    }

    /*Body Styles*/

    body {
        height: 100vh;
        position: relative;
        margin: 0 auto 0 auto;
    }

    body::after {
        display: flexbox;
        content: "";
        clear: both;
    }
    
    .container {
        width:517.5px;
        height:267px;
        display:flexbox;
        padding:0px 0px 0px 5px;
    }

    /*Grid Styles*/

    .grid-container {
        grid-template-columns: 4fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        display: flexbox;
        overflow-wrap: normal;
        height: 267px;
    }

    .box {
        display: flexbox;
        text-decoration:none;  
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 5;
        background-color:rgb(254, 254, 255);
        width: 100%;
        height: 100%;
        color:#f2f2f2;
        top:10px;
        display:flexbox;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color:rgb(36, 35, 35);
        width: auto;
        height: auto;
        text-decoration:none;
        font-size:2.3rem;
        text-align:center;
        display:flexbox;
    }

    .hero {
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color:rgb(14, 31, 54);
    }

    .main {
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 7;
        grid-row-end: 8;
        background-color:rgb(14, 31, 54);
        display:flexbox;
        margin:1rem;
        color:#353535;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.075);
    }
        
    .footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 11;
        background-color: rgb(14, 31, 54);
        color:rgb(14, 31, 54);
        height:150px;
        display:flexbox;
    }

    /*Image Styles*/
    
    .portfolioimgsl {
        width:45em;
        height:37em;
        margin-left: 2.5em;
        margin-bottom:1.4em;
        margin-top:1em;
    }

    .portfolioimgsr {
        width:45em;
        height:37em;
        margin-top: 1em;
        margin-left:1.8em;
        margin-bottom:1.4em;
    }

    .footer img {
        width:190px;
        height:46px;
    }

    .footer > a > img {
        padding:10px 0px 10px 0px;
        width:50px;
        height:50px;
        border-radius:20px;
    }
   

   .hero > img {
       width:70%;
       height:70%;
       padding-left:235px;
    }

    /*Link Styles*/

    nav.nav > a {
        flex:1;
        flex-basis:100%;
    }

    /*Text Link Styles*/
    
    .wordlink {
        text-decoration:none;
        color:rgb(158,226,209);
    }

    .wordlink:hover {
        color:rgba(253, 47, 184, 0.945);;
    }

    .nav > a {
        text-decoration:none;
        border-radius: 0px 20px 0px 20px;
        color:rgb(158,226,209);
        font-style:bold;
        letter-spacing:1px;
        display:flexbox;
        padding:0px 36px 0px 36px;
    }

    nav {
        top:0;
        position:absolute;
    }
    
    html.altcolor .linenav > a {
        display:inline-block;
        text-decoration:none;
    }

    .linenav > a {
        display:inline-block;
        text-decoration:none;
    }

html.altcolor .a1 {
    left:0px;
    position:absolute;
    color:rgba(253, 47, 184, 0.945);
    font-size:35px;
    top:5px;
    padding-left:15px;
    padding-right:20px;
    width:70px;
    text-decoration:none;
    font-family: 'Abril Fatface', cursive;
}

    .a1 {
        left:0px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:35px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:70px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    html.altcolor .a2 {
        left:150px;
        position:absolute;
        color:rgba(253, 47, 184, 0.945);
        font-size:35px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:110px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    .a2 {
        left:150px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:35px;
        top:5px;
        padding-left:15px;
        padding-right:20px;
        width:110px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    html.altcolor .a3 {
        left:350px;
        position:absolute;
        color:rgba(253, 47, 184, 0.945);
        font-size:35px;
        top:5px;
        padding-left:0px;
        padding-right:20px;
        width:135px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }

    .a3 {
        left:350px;
        position:absolute;
        color:rgb(158,226,209);
        font-size:35px;
        top:5px;
        padding-left:0px;
        padding-right:20px;
        width:135px;
        text-decoration:none;
        font-family: 'Abril Fatface', cursive;
    }
    
    html.altcolor .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:5.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:10px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.altcolor .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:10px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:10px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a1.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.Gallery .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(177, 47, 253, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.resume .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 147, 47, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.index .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    html.altcolor .a2.linenav::after {
        content:'';
        display:block;
        width:0;
        height:1.5px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .a3.linenav::after {
        content:'';
        display:block;
        width:0;
        height:10px;
        border-radius:0px 10px 0px 10px;
        background-color:rgba(253, 47, 184, 0.945);
        transition: .5s;
        position:absolute;
    }

    .linenav:hover::after{
        width:100%;
    }

    html.altcolor .linenav:hover::after{
        width:100%;
    }

    html.Gallery .linenav:hover::after{
        width:100%;
    }

    html.index .linenav:hover::after{
        width:100%;
    }

    html.resume .linenav:hover::after{
        width:100%;
    }

    a {
        text-decoration:none;
        font-family: 'DM Serif Display', serif;
    }

    a p {
        font-size:100px;
        text-align:center;
        color:rgb(158,226,209);
        flex: 1 1 307;
        margin:20px;
        border: 4px solid rgba(253, 47, 184, 0.945);
        font-family: 'DM Serif Display', serif;
    }

    a p:active {
        border:4px solid rgb(158,226,209);
        text-decoration:none;
        color:rgba(253, 47, 184, 0.945);
    }

    /*Text Styles*/

    p.myskill {
        color:red;
        font-size:60px;
    }

    p.skilllevel {
        color:grey;
        font-size:60px;
    }
    
    h1 {
        padding:5px 0px 0px 30px;
        flex: 1 1 307;
    }

    html.altcolor h2 {
        font-size:66px;
        text-align:center;
        letter-spacing:1px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
        font-family:'Abril Fatface';
    }

    h2 {
        font-size:66px;
        text-align:center;
        letter-spacing:1px;
        color:rgb(158,226,209);
        flex: 1 1 307;
        font-family:'Abril Fatface';
    }

    html.altcolor h3 {
        font-size:65px;
        text-align:center;
        font-family: 'Josefin Slab';
        color:rgba(253, 47, 184, 0.945);
    }

    h3 {
        font-size:65px;
        text-align:center;
        font-family: 'Josefin Slab';
        color:rgb(158,226,209);
    }

    html.altcolor p {
        font-size:55px;
        font-family: 'Josefin Slab', serif;
        text-align:center;
        color:rgba(253, 47, 184, 0.945);
        margin:20px;
    }

    p {
        font-size:55px;
        font-family: 'Josefin Slab', serif;
        text-align:center;
        color:rgb(158,226,209);
        margin:20px;
    }
    html.altcolor div.main > h2 {
        letter-spacing:10px;
        background-color:rgba(253, 47, 184, 0.945);
        color:rgb(255, 255, 255);
    }

    div.main > h2 {
        letter-spacing:10px;
        background-color: rgb(158,226,209);
        color:rgb(255, 255, 255);
    }
    html.altcolor .footh2 {
        font-size:26px;
        font-family: 'Abril Fatface', cursive;
        text-align:left;
        padding-left:30px;
        letter-spacing:1px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
    }
    
    .footh2 {
        font-size:26px;
        font-family: 'Abril Fatface', cursive;
        text-align:left;
        padding-left:30px;
        letter-spacing:1px;
        color:rgb(158,226,209);
        flex: 1 1 307;
    }
    
    html.altcolor .footh3 {
        font-size:20px;
        font-family: 'Josefin Slab', serif;
        text-align:left;
        padding-left:30px;
        color:rgba(253, 47, 184, 0.945);
        flex: 1 1 307;
    }

    .footh3 {
        font-size:20px;
        font-family: 'Josefin Slab', serif;
        text-align:left;
        padding-left:30px;
        color:rgb(158,226,209);
        flex: 1 1 307;
    }

    /*Scroll To Top*/
    

    .scroll2top {
        position:absolute;
        padding:.4.5rem;
        text-decoration:none;
        left:50rem;
        bottom:10px;
        display:flexbox;
        
    }

    div.scroll2top:hover > a > img {
        position:fixed;
        display:flexbox;
        text-decoration:none;
        right:0px;
        transition:.5s ease;
        bottom:11px;
        width:32px;
        height:32px;
        scroll-behavior:smooth;
    }

    div.scroll2top > a > img{
        width:30px;
        height:30px;
        z-index:10;
        bottom:0px;
        right:0px;
        position:fixed;
        scroll-behavior:smooth;
    }

    /*Lightbox*/

    #lightbox:active {
        top:auto;
        left:130px;
        transform:scale(1.5);
        z-index:15;
        position:absolute;
    }
}